*.iml
.gradle
/local.properties
idea/
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.log
_build/
_tmp/
_*.py
_*.log
_*.txt
_*.json
_*.html
_*.m3u8
_*.ts
_*.java
_vh/
_vh2/
_vh3/
_s3/
_s4/
_s5/
_an/
_samples/
